{{> head}}

{{> navbar }}


<div class="row">

    <div class="col-8">
        <h1>Nelson Rodriguez About</h1>
    </div>

    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi, minus sint maxime animi explicabo voluptatibus? Nesciunt sed odit consectetur perspiciatis maxime fugit nam. Doloremque voluptate officia deleniti eligendi earum quibusdam!
    </p>


    <div class="col-4">
        <img src="assests/img/Nel.png" class="img-thumbnail">
        
    </div>
</div>
{{> footer }}